@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paper-fade-in {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: fadeInUp;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}
