@import "tailwindcss";

body {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
